<h3>Your SF Favorites: </h3>

    <ul>
        <% @user.sf_faves.each do |sf_fave| %>
        <li><%= sf_fave.fav_lit %></li>
        <li><%= sf_fave.fav_film %></li>
        <li><%= sf_fave.fav_game %></li>
    </ul>
        <% end %>
