<% if @sf_fav.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@sf_fav.errors.count, "error") %>
      prohibited this profile from being saved:
    </h2>
 
    <ul>
    <% @sf_fav.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>