<h3>Your SF Favorites: </h3>

    <ul>
        <% @user.sf_favs.each do |sf_fav| %>
        <li><%= sf_fav.fav_lit %></li>
        <li><%= sf_fav.fav_film %></li>
        <li><%= sf_fav.fav_game %></li>
    </ul>
        <% end %>
