<h2>All Fanvorite Authors in Alphabetical Order (by First Name)</h2><br>

<% @lit_fan_authors.each do |lfa|  %>
<h3><li><%= link_to lfa.name, lit_fan_author_path(lfa) %></li></h3>
<% end %><br>

<%= link_to "Don't see your author here? Make a new one!", new_lit_fan_author_path %><br><br>

