<div class='container' id='more-margin'>

    <%= render partial: 'layouts/fanvorites_navbar' %>

    <h3>All Fanvorite Authors in Alphabetical Order (by First Name)</h3><br>

    <h4><%= link_to "Add New Work, Author, and/or Genre", new_lit_fan_work_path %></h4>
    <br>
    <% @lit_fan_authors.each do |lfa| %>
        <ul>
            <h4>
                <li>
                    <%= link_to lfa.name, lit_fan_author_lit_fan_works_path(lfa) %>
                </li>
            </h4>
        </ul>
    <% end %>
</div>
