<h2>All Fanvorite Authors in Alphabetical Order (by First Name)</h2><br>

<% @lit_fan_authors.each do |lfa|  %>
<h3><li><%= link_to lfa.name, lit_fan_author_lit_fan_works_path(lfa) %></li></h3>
<% end %><br>

<h4><%= link_to "Add New Work, Author, and/or Genre", new_lit_fan_work_path %></h4>

<%# <%= link_to "Don't see your author here? Make a new one!", new_lit_fan_author_path %>

