<h1>Recommend an SF Fanvorite Author!</h1>

<h3>Search here to see if your recommended author is on our list:</h3>

<h3>Make a new recommendation:<h3>

<%= render partial: "errors" %>

<%= render "form" %>
