<h1>Featured Author: <%= @lit_fan_author.name %></h1>

<h2>Works by the author recommended by fellow SFSourcer members:</h2>
<ul>
  <% @lit_fan_author.lit_fan_works.each do |lit_fan_work| %>
    <li><%= link_to lit_fan_work.title, lit_fan_author_lit_fan_work_path(@lit_fan_author, lit_fan_work) %></li>
  <% end %>
</ul>

<h2>SFSourcer Features for this author:</h2>

<h2>FanWiki About</h2>

<h2>News/Articles</h2>

<h2>Member Comments</h2>

<h2>Fandom/Events</h2>


<h3>Make this page into a ClubSite!</h3>

<h2>Here's how:</h2><br>

<h3>Add this site to your FanPage!</h3>

<h2>Here's how:</h2><br>

<%# <h3><%= link_to 'Find or add a new recommendation to our database to share and experience the information, events, and ClubSite connections based on the author!', lit_fan_authors_index_path %></h3> %>


