<%= render 'layouts/header_navbar' %>
      
<div class="container" id="more-margin">

    <h2>Thank you for your pledge of $<%= @pledge.amount %>!</h2>
    <br>
    <div id="sourcer_credit" data-id="<%=@pledge.id%>"></div>
    <br><br>

    <%= link_to "Back to Sourcer Projects", funding_projects_path(@funding_project) %>

</div>
<br><br><br><br><br><br><br><br><br>