<h1>Fanvorite Works by <%= @lit_fan_author.name %></h1><br>
<ul>
<% @lit_fan_works.each do |lfw| %>
  <li><%= link_to lfw.title, lit_fan_work_path(lfw) %></li>
<% end %>
</ul>
<br>
<%= link_to "Add New Work", new_lit_fan_work_path %>