<h1>Your Recommended Work:</h1>
 <h3><%= @lit_fan_work.title %>
 <h3>By: <%= @lit_fan_work.lit_fan_author.name %><br><br>

<h2><%= link_to "Go back to recommend a new work", lit_fan_works_path %></h2>


