<h1>Your Recommended Work:</h1>
 <h3><%= @lit_fan_work.title %></h3>
 <h2>By: <%= @lit_fan_work.lit_fan_author.name %></h2><br><br>


<h2>SFSourcer Features for this work:</h2>

<h2>FanWiki About</h2>

<h2>News/Articles</h2>

<h2>Member Comments</h2>

<h2>Fandom/Events</h2>


<h3>Make this page into a ClubSite!</h3>

<h2>Here's how:</h2><br>

<h3>Add this site to your FanPage!</h3>

<h2>Here's how:</h2><br>



