<h1>LStories#index</h1>
<p>Find me in app/views/l_stories/index.html.erb</p><br>
<% @l_stories.each do |l_story| %>
<%# <%= l_story.o_genre.name%><br> %>
<%= l_story.title %>
<%= l_story.content %>
<% end %>


