<!DOCTYPE html>
<html lang="en">
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>All SF Events</h1>      
    <p>Check Out What's Going on in the World ... of SF!</p>
  </div>
</div>

<%= render 'layouts/header_navbar' %>

<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="#"><h5>Search For a Specific Event/Keyword (Under Construction)</h5><br><br></a></p>
      <p><a href="#"><h5>Browse Events by Category (Under Construction)</h5><br><br></a></p>
      <p><a href="#"><h5>Browse through all Events (Under Construction)</h5><br></a></p><br><br>
      <p><a href="#"><h5>Add a New Event (Under Construction)</h5><br></a></p>

    </div>
    <div class="text-center .mx-auto px-{1}">
      <div class="stripe_row">
        <div class="col-sm-10">
          <div><p><strong>Literary Events</strong></p></div>
      </div>
    </div>
      <div class="col-sm-5">
        <div class="panel panel-primary">
          <div class="panel-body">
          Literary Event
        </div>
        <br>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
      </div>
    </div>
    <div class="col-sm-5"> 
      <div class="panel panel-primary">
          <div class="panel-body">
          Literary Event
        </div>
        <br>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
      </div>
    </div>

<div class="text-center .mx-auto px-{2}">
  <div class="stripe_row">
    <div class="col-sm-10">
      <div><p><strong>Film Events</strong></p></div>
  </div>
</div>

<div class="container">
    <div class="col-sm-5">
      <div class="panel panel-primary">
        <div class="panel-body">
            Film Event
        </div>
        <br>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
      </div>
    </div>
    <div class="col-sm-5"> 
      <div class="panel panel-primary">
        <div class="panel-body">
            Film Event
        </div>
        <br>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
      </div>
    </div>

<div class="text-center .mx-auto px-{2}">
  <div class="stripe_row">
    <div class="col-sm-10">
      <div><p><strong>Gaming Events</strong></p></div>
  </div>
</div>
    <div class="col-sm-5">
      <div class="panel panel-primary">
        <div class="panel-body">
            Gaming Event
        </div>
        <br>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="panel panel-primary">
        <div class="panel-body">
            Gaming Event
        </div>
        <br>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
      </div>
    </div>
  </div>
  </div>
</body>
</html>