<head>
  <%= javascript_include_tag "events" %>
</head>

<div class="jumbotron">
  <div class="container text-center">
    <h1>SF Events</h1>      
    <p>Check Out What's Going on in the World ... of SF!</p>
  </div>
</div>

<%= render 'layouts/header_navbar' %>

<div class="container-fluid">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
    <br>
        <h5>
            <%= link_to "Add a new event", new_event_path %>
        </h5>
        <br>
        <h5>
            Search Events
        </h5>
        <form id='search-events'>
            <input type='text' id='search-params'>
            <br><br>
            <input type='submit' value='Search'>
        </form>
        <br>
        <div id='search-results'>
            <ul id='no-bull'>
            </ul>
        </div>
        <br><br>
        <h5>
            <a href="#">
                Browse Events by Category (Under Construction)
            </a>
        </h5>
        <br><br>
    </div>

    <div class="text-center .mx-auto px-{1}">
        <div class="stripe_row_feature_home">
            <div class="col-sm-8">
                <div>
                    <p>
                        <strong>Newest Events</strong>
                    </p>
                </div>
            </div>
        </div>

        <div class="text-center .mx-auto px-{1}">
            <div class="container">
                <div class="row content">
                    <div class="col-sm-3">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <h1>
                                    Event              
                                </h1>
                                <br>
                                <p id="text">
                                </p>
                            </div>
                        </div>
                    </div>
                <div class="row content">
                    <div class="col-sm-3">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <h1>
                                    Event              
                                </h1>
                                <br>
                                <p id="text">
                                </p>
                            </div>
                        </div>
                    </div>
                <div class="row content">
                    <div class="col-sm-3">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <h1>
                                    Event              
                                </h1>
                                <br>
                                <p id="text">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
  </div>
</div>
