<div class="jumbotron">
  <div class="container text-center">
    <h1>SF Events</h1>      
    <p>Check Out What's Going on in the World ... of SF!</p>
  </div>
</div>

<%= render 'layouts/header_navbar' %>

<div class="container-fluid">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
    <br>
      <p><h5><%= link_to "Add a new event", new_event_path %></h5><br></a></p>
      <p><a href="#"><h5>Search For a Specific Event/Keyword (Under Construction)</h5><br><br></a></p>
      <p><a href="#"><h5>Browse Events by Category (Under Construction)</h5><br><br></a></p>
    </div>

    <div class="text-center .mx-auto px-{1}">
        <div class="stripe_row_feature_home">
            <div class="col-sm-8">
                <div>
                    <p>
                        <strong>Newest Events</strong>
                    </p>
                </div>
            </div>
        </div>


        <div class="text-center .mx-auto px-{1}">
            <div class="container">
                <div class="row content">
                    <div class="col-sm-3">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <h1>
                                    Event              
                                </h1>
                                <br>
                                <p id="text">
                                </p>
                            </div>
                        </div>
                    </div>
                <div class="row content">
                    <div class="col-sm-3">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <h1>
                                    Event              
                                </h1>
                                <br>
                                <p id="text">
                                </p>
                            </div>
                        </div>
                    </div>
                <div class="row content">
                    <div class="col-sm-3">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <h1>
                                    Event              
                                </h1>
                                <br>
                                <p id="text">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
  </div>
</div>
