<% if @l_story.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@l_story.errors.count, "error") %>
      prohibited this Living Story from being saved:
    </h2>
 
    <ul>
    <% @l_story.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>