
<%= render partial: "layouts/l_stories_navbar" %>
 
<div class="container">
    <h3 id="more-margin">Choose one of the stories below and keep it going!</h3>
</div>
<br>

<% @l_stories.each do |ls| %>
<ul class="no-bull">
    <li>
        <h4>
            <%= link_to ls.title, l_story_path(ls) %>
        </h4>
    </li>
    <li>
        <h5>
            <%= ls.content %>
        </h5>
    </li>
</ul><br>
<% end %>