<head>
  <title>
    Living Stories
  </title>
</head>

<div class="jumbotron">
  <div class="container text-center">
    <h1>
      Welcome to Living Stories!
    </h1>
    <br>
    <p>
      Help write a fun and fantastic story, or create your own!
    </p> 
  </div>
</div>

<%= render 'layouts/l_stories_navbar' %>

<div class="text-center .mx-auto px-{2}">
  <div class="stripe_row">
    <div class="col-sm-12">
      <div>
        <p>
          <strong>Recent Stories</strong>
        </p>
      </div>
    </div>
  </div>

<div class="container">   
  <div class="row">

    <div class="col-sm-4" style="text-align:center;">
      <div class="panel panel-primary">
        <div class="panel-body">
          <% @l_stories.each do |l_story| %>
            <ul>
              <li>
                <%= link_to l_story.title, l_story_path(l_story) if l_story == @l_stories[0]%>
              </li>
            </ul>
          <% end %>
          </div>
        <div class="panel-body">
          <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"  style="width:100%" alt="Image">
        </div>
      </div>
    </div>
  
    <div class="col-sm-4" style="text-align:center;">
      <div class="panel panel-primary">
        <div class="panel-body">
          <% @l_stories.each do |l_story| %>
            <ul>
              <li>
                <%= link_to l_story.title, l_story_path(l_story) if l_story == @l_stories[1]%>
              </li>
            </ul>
          <% end %>
        </div>
        <div class="panel-body">
          <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"  style="width:100%" alt="Image">
        </div>
      </div>
    </div>

    <div class="col-sm-4" style="text-align:center;">
      <div class="panel panel-primary">
        <div class="panel-body">
          <% @l_stories.each do |l_story| %>
            <ul>
              <li>
                <%= link_to l_story.title, l_story_path(l_story) if l_story == @l_stories[2]%>
              </li>
            </ul>
          <% end %>
        </div>
        <div class="panel-body">
          <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"  style="width:100%" alt="Image">
        </div>
      </div>
    </div>

  </div>
</div>




