<h1>Your New Living Story <%= @l_story.title %></h1><br>
<h3>By: Everyone here!</h3>
<h3>Genre/s: <% @l_story.o_genres.each do |og| %>
<%= og.name %>


<%# @l_story.o_genre %></h3> %>
<p><%= @l_story.content %></p>

