<h1>All SF Fanvorites</h1><br>
<h3><%= link_to "SF Literature Fanvorites", '/sf_lit_fanvorites' %></h3><br>

<h2>(Under Construction)</h2>

<h3>SF Film Fanvorites</h3>

<h3>SF Game Fanvorites</h3><br>

<%# <h2> <%= link_to "SF Film Fanvorites", '/sf_film_fanvorites' %> 
<%# (under construction)</h2> %>
<%# <h2> <%= link_to "SF Game Fanvorites", '/sf_game_fanvorites' %> 
<%# (under construction)</h2> %>