<!DOCTYPE html>
<html lang="en">
<head>
  <title>SFSourcer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>All SF Fanvorites</h1>      
    <p>Talk, Learn, and Write About All things SF</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/home">Home</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span>Sign In/Sign Up</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="text-center .mx-auto px-{2}">
  <div class="stripe_row">
    <div class="col-sm-12">
      <div><p><strong>Talk About and Add to All Fanvorites</strong></p></div>
  </div>
</div>

<div class="container">   
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-body"><%= link_to "SF Literature Fanvorites", '/sf_lit_fanvorites' %></div>
        <br>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
      </div>
    </div>
    <div class="col-sm-6"> 
      <div class="panel panel-primary">
        <div class="panel-body"><%= link_to "SF Film Fanvorites (under construction)", '/sf_film_fanvorites' %></div>
        <br>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
      </div>
    </div>
  </div>
</div>

<div class="text-center .mx-auto px-{2}">
  <div class="stripe_row">
    <div class="col-sm-12">
      <div><p><strong>Learn and Write About SF in Our FanWiki (under construction)</strong></p></div>
  </div>
</div>

<div class="container">   
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-body">Literature FanWiki (under construction)</div>
        <br>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
      </div>
    </div>
    <div class="col-sm-6"> 
      <div class="panel panel-primary">
        <div class="panel-body">Film FanWiki (under construction)</div>
        <br>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
      </div>
    </div>
  </div>
</div>

</body>
</html>