<h1>All SF Fanvorites</h1><br>
<h2> <%= link_to "SF Literature Fanvorites", '/sf_lit_fanvorites' %></h2>
<h2> <%= link_to "SF Film Fanvorites", '/sf_film_fanvorites' %></h2>
<h2> <%= link_to "SF Game Fanvorites", '/sf_game_fanvorites' %></h2>