<h3>Welcome to SFSourcer, where we help you experience, support, and create adventures in speculative fiction, all in a community of shared interests!</h3><br>

<h4>In our Fanvorites section, check out members' favorite works of speculative fiction and their authors, as well as films and games with a science fiction, fantasy, or horror theme!</h4>

<h4> <%= link_to "All SF Fanvorites", '/all_sf_fanvorites' %></h4><br><br>


<h4>Sourcer Projects</h4>

<h4>In our Sourcer Projects section, check out projects in need of funding by our members, or create your own!</h4>

<h4>(Under Construction)</h4><br><br>

<%# <h3> <%= link_to "Sourcer Project Home Page", sourcer_projects_path %>
<%# <h3> <%= link_to "All SFSourcer Projects", funding_projects_path %>
<%# <h3> <%= link_to "Create a new SFSourcer Project", new_funding_project_path %>


FEATURE SECTION
Living Stories
<br>
<br>

FEATURE SECTION
ClubSites (group discussion boards/chat rooms to be linked with Fanvorites)
<br>
<br>

FEATURE SECTION
YourPages (pages devoted to your own interests, webpages for which you can receive part of ad revenue based on clicks)
<br>
<br>

FEATURE SECTION 
Writer's Groups (where you can have your work read by professionals for a cost, on a one on one or group setting, as well as free discussion and free, non-mentored groups)
<br>
<br>

FEATURE SECTION
Events in Fandom (also linked to Fanvorites)
<br>
<br>

FEATURE SECTION
Special Projects
<br>
<br>











