MAIN NAVBAR 


FEATURE SECTION LANDING PAGE NAVBAR

<h1>SFSourcer</h1><br>


FEATURE SECTION

<h3> <%= link_to "All SFSourcer Projects", funding_projects_path %> </h3>
<h3> <%= link_to "Create a new SFSourcer Project", new_funding_project_path %> </h3><br>


FEATURE SECTION
<%# <h3> <%= link_to "Living Story", living_stories_path %> </h3> %>


FEATURE SECTION
ClubSites and YourPages


FEATURE SECTION
Movie Page
Literature Page


FEATURE SECTION 
Writer's Groups


FEATURE SECTION
Special Projects


FEATURE SECTION
Events in Fandom










