<h1>SFSourcer Game Fanvorites</h1>

<h2>For information, media, events, and links to ClubSites about games that SFSourcer members have recommended. Come view them and make your own recommendations!</h2>

<%# <h3>Go to <%= link_to 'All Film Fanvorites', film_fan_works_index_path %>

<h3>Search for a Game: </h3>

