<h1>Welcome to Lit Fanvorites!</h1>

<p>Here you'll find information, media, events, and links to ClubSites about published written works and their authors that SFSourcer members have recommended.</p>
<p>For checking out or recommending a specific author, browse or search for your author below.</p>

<h4>To see a clickable list of all recommended authors: <%= link_to 'All Author Fanvorites', lit_fan_authors_path %></h4>

<h4>Or search for an author: </h4><br>

