<h1>SFSourcer Literature Fanvorites</h1>

<h2>Welcome to Literature Fanfavorites! Here you'll find information, media, events, and links to ClubSites about published written works and their authors that SFSourcer members have recommended. First of all, check out the authors  

<h2>For checking out or recommending a specific author, browse through all the authors or search for a specific one.

<h3>Go to <%= link_to 'All Author Fanvorites', lit_fan_authors_path %></h3>

<h3>Search for an Author: </h3><br>


<h2>For checking out or recommending a specific work, browse through all the works or search for a specific one.

<h3>Go to <%= link_to 'All Works Fanvorites', lit_fan_works_path %></h3>

<h3>Search for a Work: </h3>


<h2>For checking out works and authors by genre, browse through all the genres or search for a specific one.

<h3>Go to <%= link_to 'All Fanvorite Genres', lit_fan_genres_path %></h3>

<h3>Search for a Work: </h3>



