<h1>SFSourcer Literature Fanvorites</h1>

<h2>For information, media, events, and links to ClubSites about published written works that SFSourcer members have recommended. Come view them and make your own recommendations!</h2>

<h3>Go to <%= link_to 'All Literature Fanvorite Works', lit_fan_works_index_path %></h3>

<h3>Search for a Work: </h3>


<h2>For information, media, events, and links to ClubSites about authors that SFSourcer members have recommended. Come view them and make your own recommendations!</h2>

<h3>Go to <%= link_to 'All Literature Fanvorite Authors', lit_fan_authors_index_path %></h3>

<h3>Search for an Author: </h3>

