<h1>Welcome to Lit Fanvorites!</h1>

<p>Here you'll find information, media, events, and links to ClubSites about written SF works and their authors, recommended by SFSourcer members. Find a favorite author or work, or add your own! </p>

<h4>Start with a searchable list of recommended authors: <%= link_to 'All Author Fanvorites', lit_fan_authors_path %></h4>