<h1>Sourcer Projects</h1><br>

<h3> <%= link_to "Find or Browse Sourcer Projects", funding_projects_path %> </h3><br>

<h3> <%= link_to "Create a new SFSourcer Project", new_funding_project_path %> </h3><br>

