<h1>New Pledge Form for </h1>

<%= form_for @fp_backer do |f| %>
        <%= f.label "Leave a short message directly to the project creator" %>
        <%= f.text_field :backer_msg %>
    <%= f.submit "Submit Pledge"%>
    <% end %>
