<!DOCTYPE html>
<html lang="en">
   <head>
      <%= javascript_include_tag 'wg_works'  %>
   </head>
   <body>
    <h3>Latest SFSourcer Member Work</h3> 
    <p>(click on title for author bio, full work, and full feedback info)(under construction)</p>
    <br>
    <br>
    <button id="load-wg-work-comments">View Work and Feedback</button>
    <br>
    <br>
    <div id="show-wg-work-comments"></div>
   <body>
</html>