<!DOCTYPE html>
<html lang="en">
   <head>
      <%= javascript_include_tag 'wg_works'  %>
   </head>
   <body>
    <h3>SFSourcer Member Works (click for full work and comments)</h3>
    <br>
    <br>
    <button id="load-wg-comments">View All Feedback</button>
    <br>
    <br>
    <div id="show-wg-comments"></div>
   <body>
</html>