<head>
   <%= javascript_include_tag 'wg_works' %>
</head>

<%= render 'layouts/header_navbar' %>

<div class="container" id="more-margin">

   <h3>
      Sample SFSourcer Member Work With Comments
   </h3> 
   <p>
      (click on title for author bio, full work, and full feedback info)(under construction)
   </p>
   <br><br>
   <button id="load-wg-work-comments">
      View Work and Feedback
   </button>
   <br><br>
   <div id="show-wg-work-comments">
   </div>

</div>

<br><br><br><br><br><br><br><br>