.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.pic,
.info {
  padding: 20px;
  display: inline-block;
  background-color: #eeeeee;
  border-radius: 7px;
  vertical-align: middle;
  margin: 10px;
}

.info {
height: 290px;
text-align: left;
}

.row.content {height: 1500px}
    
.sidenav {
  background-color: white;
  height: 100%;
}
    
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;} 
}

.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}

.jumbotron {
  margin-bottom: 0;
}

footer, .stripe_row {
  background-color: rgb(242, 242, 242);
  padding: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.stripe_row {
  font-size: 26px;
}

@media only all and (max-width: 320px) {
  .panel {
    font-size: 22px;
    color: navy;
    font-weight: bold;
    height: 300px;
    width: 300px;
  }
  .panel-body {
    height: 100px;
  }
}

@media only all and (min-width: 320px) {
  .panel {
    font-size: 22px;
    color: navy;
    font-weight: bold;
    height: 350px;
  }
  .panel-body {
    height: 100px;
  }
  .panel-body img {
    height: 170px;
  }
}

.medium-text {
  font-size: .7em;
}

h1 {
  font-size: 1.2em;
}

button {
  font-size: 14px;
}

.no-bull {
  list-style-type: none;
}