@media only all and (max-width: 320px) {
  .panel {
    font-size: 22px;
    color: navy;
    font-weight: bold;
    height: 300px;
    width: 300px;
  }
  .panel-body {
    height: auto;
  }
}

@media only all and (min-width: 320px) {
  .panel {
    font-size: 22px;
    color: navy;
    font-weight: bold;
    height: 350px;
  }
  .panel-body {
    height: auto;
  }
  .panel-body img {
    height: auto;
  }
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.pic,
.info {
  padding: 20px;
  display: inline-block;
  background-color: #eeeeee;
  border-radius: 7px;
  vertical-align: middle;
  margin: 10px;
}

.info {
height: 290px;
text-align: left;
}

.row.content {height: auto;}
    
.sidenav {
  background-color: white;
  height: 100%;
}
    
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;} 
}

.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}

.jumbotron {
  margin-bottom: 0;
}

.stripe_row {
 background-color: rgb(242, 242, 242);
 padding-top: 2%;
 padding-bottom: 5%;
 display: block;
 margin-bottom: 1.5%;
}
 
footer, #footer {
 background-color: rgb(242, 242, 242);
 padding: 25px;
 color: black;
 align-items: center;
 text-align: center;
 margin-bottom: 5px;
}

.panel {
  text-align: left;
  height: 12.5em;
  margin-left: 7%;
}

.stripe_row {
  font-size: 26px;
}

.medium-text {
  font-size: .7em;
}

h1 {
  font-size: 1.2em;
}

button {
  font-size: 14px;
}

ul, li {
  list-style-type: none;
}

.container h3 #more-margin {
  margin-left: 3%;
}

.container {
  padding: 0;
}

ul:not(.nav navbar-nav) {
  margin: 2%; 
  padding: 1%;
}

.search-bar input {
  height: 30%;
  width: 95%;
}