 
 .field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
  }

.pic,
.info {
  padding: 20px;
  display: inline-block;
  background-color: #eeeeee;
  border-radius: 7px;
  vertical-align: middle;
  margin: 10px;
}

.info {
  height: 290px;
  text-align: left;
}

