<footer id="footer">
  <br><br><br>
  <%= link_to 'About Us', about_path %>
  &nbsp;&nbsp;*&nbsp;&nbsp;
  <%= link_to 'Contact Us', contact_path %>
  &nbsp;&nbsp;*&nbsp;&nbsp;
  <%= link_to 'Terms & Conditions', "/static/terms_and_conditions"  %>
  <br><br>
  <p>
    &copy; 2019 DreamSourcer Enterprises
  </p>  
</footer>