<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <%# <a class="navbar-brand" href="#">Logo</a> %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Features <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/funding_projects", class="load_fps">Fund an SF Project</a></li>
            <li><a href="/funding_projects/new">Create an SF Project</a></li>
            <li><a href="/writer_groups_home">Writer's Groups</a></li>
            <li><a href="/l_stories">Living Stories</a></li>
            <li><a href="/all_sf_fanvorites">Fanvorites</a></li>
          </ul>
        </ul>
    
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/l_stories/all_living_stories">
            All Stories
          </a>
        </li>
        <li>
          <a href="/l_stories/new">
            Create a New Story
          </a>
        </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-user"></span> 
                Log In/Sign Up 
              <span class="caret"></span>
            </a>
              <ul class="dropdown-menu">
                <li><a href="/sessions/new">Log in</a></li>
                <li><a href="/users/new">Sign up</a></li>
                <li><a href="/logout">Log out</a></li>
              </ul>
        </ul>
    </div>
  </div>
</nav> 