<h1><%= @funding_project.title %></h1><br>
<p>Description: <%= @funding_project.description %> </p><br>
<p>Funding Goal: <%= @funding_project.funding_goal %> </p><br>

Check out refactoring views with helpers lab for possible way

Make a link to pledges#new and list of projects